{% load static %} 
<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="{% static 'css/index.css' %}">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конвертер</title>
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <label for="{{form.marketname.id_for_label}}" style="color: white; margin-left: 80px;">
                Рынок обмена:
            </label>
            {{form.marketname}}
            <div class="row">
                <div class="col">
                    <div class="form-style">
                        <label class="label" for="{{form.base_curr.id_for_label}}">У меня есть:</label>
                        {{form.base_curr}}
                    </div>

                    <div class="value-field">
                        {{form.amount_input}}
                    </div>
                </div>
                
                <div class="col">
                    <div class="form-style">
                        <label class="label" for="{{form.quote_curr.id_for_label}}">Хочу приобрести:</label>
                        {{form.quote_curr}}
                    </div>
                    
                    <div class="value-field">
                        {% if amount_out %}
                            <div class="output">{{ amount_out }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="row-2">
                <div class="col-2">
                    <button class="btn">
                        Рассчитать
                    </button>
                </div>
                
                <div class="col-2">
                    <div class="datetime">
                        {% if date_time %}
                            Данные за {{date_time}}
                        {% endif %}
                    </div>
                </div> 
            </div>
        
        </form>
            
    </div>
</body>